<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

<title>Registration</title>
</head>
<body>
	
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">BNP Triage Portal </a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#" th:href="@{/}">Home</a></li>
      <li><a href="#" th:href="@{/dashboard}">DashBoard</a></li>
      <li class="active"><a href="#">Create Project</a></li>
       <li><a href="#" th:href="@{/bidproject}">Bid Project</a></li>
      <li><a href="#" th:href="@{/todo}">To do</a></li>
    </ul>
    <form class="navbar-form navbar-left" th:action="@{/dashboard}"  method="post">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Search</button>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#" th:href="@{/registration}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#" th:href="@{/logout}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>
	<br>
	<br>
	<div class="container">
	
		<div class="alert alert-info">
  <strong>Info!</strong> You are in create project section !!
</div>
			<div class="form-group">
  <label for="projectdesc">Project Description:</label>
  <input type="text" class="form-control" id="projectdesc">
</div>
<div class="form-group">
  <label for="requirements">Requirements:</label>
  <textarea class="form-control" rows="5" id="requirements"></textarea>
</div>
	<div class="form-group">
  <label for="hle">High Level Estimate in Days:</label>
  <input type="number" class="form-control" id="hle">
</div>
	<div class="form-group">
  <label for="startdate">Project Start Date:</label>
  <input type="datetime-local" class="form-control" id=startdate>
</div>
<div class="form-group">
  <label for="enddate">Project End Date:</label>
  <input type="datetime-local" class="form-control" id="enddate">
</div>
<input type="button" class="btn btn-info" value="Create Project">
<input type="button" class="btn btn-warning" value="Clear Fields">

	</div>

	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>